# Variables de entorno - Backend API
# ¡NUNCA subir este archivo a Git!

# Puerto del servidor
PORT=3001

# URL base de la app móvil (para CORS)
CLIENT_URL=http://localhost:8081

# Firebase Admin SDK - Credenciales del Service Account
# Descarga el archivo JSON desde Firebase Console > Configuración del proyecto > Cuentas de servicio
FIREBASE_PROJECT_ID=appmovil-api-cloud
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@appmovil-api-cloud.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END RSA PRIVATE KEY-----"
